/* infographics --------------------------------------------------------- */
#infographics {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right top, #1C1F42 66%, #1C2850);
  padding-top: 10vh;
  box-sizing: border-box;
}

.info_con {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: auto;
  /* margin-top: 10vh; */
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.my_picture {
  float: left;
  display: block;
  position: absolute;
  top: 50%;
  left: 15%;
  width: 7rem;
  height: 7.5rem;
  background-color: #fff;
}

.text_con {
  position: relative;
  width: 80%;
  height: 100%;
  margin-top: 1rem;
  margin-left: 10%;
}

.about_con,
.skill_con {
  position: absolute;
  width: 100%;
  margin-top: 5rem;
  height: 80%;
}

.about_con {
  display: block;
}


.about_con dl {
  color: #f2f2f2;
}

.about_con dt {
  position: relative;
  z-index:100;
  font:700 5rem "";
  text-transform: uppercase;
  letter-spacing: 0;  
  color:transparent;
}
.about_con dt:before{
  content:"about me"; display:block;
  position: absolute; top: 0; left: 0; 
  width: 100%; height: 100%;
  /* text-shadow: -0.1rem -0.1rem 0.01rem rgba(0, 0, 0, 0.9); */
  background: url('../../../res/img/text_fill5.png') repeat-y;
  /* fill:drop-shadow(0.2rem 0.2rem 0.1rem rgba(255, 255, 255, 0)); */
  background-clip: text;
  -webkit-background-clip: text;
  animation: aitf 120s linear infinite;
  -webkit-text-fill-color: transparent;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;

}
.about_con dt:after {
  content:"about me";  text-transform: uppercase;
  position: absolute; top: 0; left: 0; z-index:-1;
  width: 100%; height: 100%; 
  color:#fff; font-size:5rem;
  transform:translate(1px, 1px);
  opacity: 0.5;
}
.about_con hr {
  display: block;
  width: 50%;
  height: 2.25rem;
  margin: auto;
  margin-bottom: 3rem;
}

.about_con dl > dd {
  width: 33.33333%;
  margin: auto;
  padding: 1rem;
  line-height: 2rem;
  text-align: left;
}

.skill_con {
  display: none;
}

.about_con dd:nth-child(3) {
  color: #9292f2;
}


.skills {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.skills div {
  display: flex;
  color: #f2f2f2;
  text-align: left;
  align-items: center;
}

.html {
  background-image: url('../../../res/icon/Logo/HTML5_Logo.svg');
}

.css {
  background-image: url('../../../res/icon/Logo/CSS3_Logo.svg');
}

.js {
  background-image: url('../../../res/icon/Logo/JS_Logo.svg');
}

.jq {
  background-image: url('../../../res/icon/Logo/JQuery-Logo.svg');
  background-color: rgba(255, 255, 255, 0.8);
}

.ai {
  background-image: url('../../../res/icon/Logo/adobe-illustrator-cc-seeklogo.com.svg');
}

.ps {
  background-image: url('../../../res/icon/Logo/adobe-photoshop-cc-seeklogo.com.svg');
}

.progressTag {
  width: 80%;
  height: 2rem;
  margin-right: 1rem;
}

.logo_img {
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.bar_con {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.tab_con {
  position: absolute;
  top: -15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  height: 10%;
  margin-bottom: 2rem;
}


.tab_con .btn_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 5rem;
  overflow: hidden;
  /* border: 1px solid rgba(200,200,200,0.2); */
}

.tab_con .btn_box span {
  display: block;
  position: absolute;
  transition: all 0.2s;
  background: #9292f2;
  z-index: 2;
}
.btn_box {
  border-bottom: 1px solid rgba(146, 146, 242, 0.3);
}

.tab_con .btn_box span:nth-child(1) {
  top: 0;
  height: 2px;
  width: 0;
}

.tab_con .btn_box span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
}

.tab_con .btn_box span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0;
}

.tab_con .btn_box span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
}


.tab_con .btn_box:hover span:nth-child(1) {
  width: 100%;
}

.tab_con .btn_box:hover span:nth-child(2) {
  height: 100%;
  transition-delay: .2s;
}

.tab_con .btn_box:hover span:nth-child(3) {
  width: 100%;
  transition-delay: .4s;
}

.tab_con .btn_box:hover span:nth-child(4) {
  height: 100%;
  transition-delay: .6s;
}
.btn_box:hover {
  cursor: pointer;
}
.btn_box:focus {
  border-bottom: 3px solid rgba(146, 146, 242, 1);
  transform: scale(1.1);
  cursor: pointer;
}


.fa-male,
.fa-cogs {
  color: #7681A3;
  font-size: 3rem;
}

.fa-male p,
.fa-cogs p {
  color: #f2f2f2;
  margin-top: 0.75rem;
  text-transform: uppercase;
}

.select_btn {
  border-bottom: 3px solid rgba(146, 146, 242, 1);
  transform: scale(1.1);
  cursor: pointer;
}

.whale {
  float: left;
  width: 2rem; height: 2rem;
  background-image: url('../../../res/icon/whale.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 1rem ;
}


@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}