
#wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}


/* header --------------------------------------------------------- */

#headerCon {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../res/bg/header_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

h1 {
  color: #fff;
}

.try {
  color: #f2f2f2;
}

.ons {
  color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  font-weight: bolder;
}
.down_scroll ,.down_scroll2,.down_scroll3,.up_scroll {
  position: absolute;
  bottom: 5%;
}



.down_scroll i,
.down_scroll2 i,
.down_scroll3 i,
.up_scroll i {
  color: #fff;
  transform: scaleX(1.2);
  font-size: 2rem;
  animation: scaleBounce 0.5s alternate infinite;
}

.down_scroll i:hover,
.down_scroll2 i:hover,
.down_scroll3 i:hover,
.up_scroll i:hover {
  color: #555;
  opacity: 0.8;
  animation-play-state: paused;
}

.down_scroll2 {
  left: 50%;
  bottom: 2%;
}

.down_scroll3 {
  left: 50%;
}

.up_scroll {
  position: absolute;
  left: 50%;
  bottom: 2%;
}

@keyframes scaleBounce {
  from {
    transform: scaleX(0)
  }

  to {
    transform: scaleX(1.6)
  }
}

svg {
  font-weight: bold;
  max-width: 600px;
  height: auto;
}




/* aside ------------------------------------------------------------------- */
.nav {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 10%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.01);

}


.nav ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav li {
  width: 8rem;
  height: 2rem;
  margin-bottom: 30px;
  line-height: 2rem;
  text-align: center;
  font-weight: 600;
}
.nav_home, .nav_aboutme, .nav_projects, .nav_contact {
  color: #f2f2f2;
}

.nav li:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}


.add {
  color: #000058;
  transform: scale(1.05);
  background-color: rgba(235,235,235,0.3);
  border-radius: 2rem;
}


