#wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}


/* header --------------------------------------------------------- */

#headerCon {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../../res/bg/header_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: #fff;
}

.down_scroll i {
  color: #fff;
  transform: scaleX(1.2);
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  animation: scaleBounce 0.5s alternate infinite;
}

.down_scroll i:hover {
  color: #555;
  opacity: 0.8;
  animation-play-state: paused;
}

@keyframes scaleBounce {
  from {
    transform: scaleX(0)
  }

  to {
    transform: scaleX(1.6)
  }
}

/* infographics --------------------------------------------------------- */
#infographics {
  width: 100%;
  height: 100vh;
  background-color: #555;
  padding-top: 10vh;
  box-sizing: border-box;
}

.infoCon {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: auto;
  /* margin-top: 10vh; */
  background-color: #777;
  text-align: center;
}

.my_picture {
  display: block;
  width: 200px;
  height: 240px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: #fff;
}
.about_me {
  margin-bottom: 2rem;
}



/* project -------------------------------------------------------------- */
#project {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  padding-top: 10vh;
  box-sizing: border-box;
}

.proCon {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: auto;
  /* margin-top: 10vh; */
  background-color: #777;
  overflow-x: hidden;
}

.proCon ul{ 
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.proCon li{
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #333;
}
.proCon li > a {
  position: absolute;
  top: 10%;
  text-align: center;
  font-size: 3rem;
}

.explanation {
  position: absolute;
  bottom: 10%;
  height: auto;
}

.proimg { 
  width: 80%;
  height: 80%;
  background-color: #fff;
}

.nextbtn , .prebtn {
  position: absolute;
  z-index: 10;
  top: 50%; transform: translateX(-50%);
  font-size: 2rem;
}
.nextbtn { 
  right: 5%;
}
.prebtn { 
  left: 5%;
}

/* aside ------------------------------------------------------------------- */
.nav {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 10%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.01);

}

.nav ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav li {
  margin-bottom: 30px;
}

.nav li:hover {
  opacity: 0.8;
  transform: scale(1.1);
}


